*{
    margin: 0;
    padding: 0;
}
   
.logo {
    width: 105px;
    float: left;
    padding: 5px 0px 0px 23px;
} 
.menu{
    background-color: #436884;
    height: 70px;
    
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    height: 70px;
    width: 150px;
    line-height: 70px;
    background-color: #436884;
    text-align: center;

    
    position: relative;
    display: inline-block;
  
}
.menu ul ul li{
    border: 1px solid#fff;
}
.menu ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.menu ul li:hover{
    color: #fff;
    background-color: #F0B14D;
}
.menu ul ul{
    display: none;
}
.menu ul li:hover> ul{
    display: block;
}
.menu ul ul ul{
    margin-left: 150px;
    top: 0px;
    position: absolute;
}
.photo{
    width: 100%;
    height: 375px;
}


.fa{
    font-size: 18px;
    margin: 5px;
}
